server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/typeahead_db
    username: postgres
    password: YOUR_DB_PASSWORD_HERE
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

typeahead:
  suggestion:
    limit: 10
